<head>
    <%- include('header.ejs') %>
</head>

<div class="container">
    <p> </p>
    <p> </p>
    <h2>Tapahtui virhe!</h2>
    <p>Valitettavasti pyyntöäsi ei voitu toteuttaa. Yritäthän uudelleen!</p>
    <button onclick="location.href = '/'" type="button" class="btn btn-primary btn-lg btn-block" >Palaa etusivulle</button>
    <button onclick="location.href = '/allquestions'" type="button"  class="btn btn-primary btn-lg btn-block" >Katso kaikki kysymykset kannasta</button>
    <p> </p>
    <p> </p>
</div>


<footer>
    <%- include('footer.ejs') %>
</footer>