

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Hastily drawn together by Kalle Pusa
        <a href="https://github.com/Varjokorento/QuestionDatabase"> Check the Hub!</a>
    </div>
    <!-- Copyright -->