<head>
    <%- include('header.ejs') %>
</head>

<div class="container">
<h1>Kiitos palautteesta!</h1>
    <p>Otamme huomioon kaiken palautteen. Se on elintärkeää!</p>
    <p> </p>
    <button onclick="location.href = '/'" type="button" class="btn">Palaa etusivulle</button>
</div>

<footer>
    <%- include('footer.ejs') %>
</footer>